body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#box_area{
    width: full;
    height: 500px;
    background-color: dimgrey;
}

.direction{
    text-align: center;
    margin-top: 0.5rem;
}

#backend{
    margin-top: 0.5rem;
    text-align: center;
}
#message{
    color: black;
}
label{
    color: white;
}



.input2{
    display: none;
}




#middle2{
 display: flex;
 align-items: center;
 justify-content: center;
}